[Desktop Entry]
Encoding=UTF-8
Name=AQMS_GASES
Comment=AQMS_GASES
Icon=gnome-info
Exec=lxterminal -e '/bin/bash /home/mx/aqmsGASES/aqms_start.sh'
Terminal=true
Type=Application
Categories=

X-GNOME-Autostart-enabled=true
X-GNOME-Autostart-Delay=20
