[Unit]
Description=PM Alphasense Reader
After=network.target

[Service]
Type=simple
User=mx
Group=dialout
WorkingDirectory=/home/mx/aqms-efs2/drivers
ExecStart=/usr/bin/python3 -u /home/mx/aqms-efs2/drivers/pm_alphasense.py 3
Restart=always
RestartSec=3

StandardOutput=append:/home/mx/pm_alphasense.log
StandardError=append:/home/mx/pm_alphasense_error.log

[Install]
WantedBy=multi-user.target
